.single-item {
    
    height: 300px;
    background: #d8e3e7;
    margin: 10px;
    
    .item-content{
        display: flex;
        justify-content: space-between;
        height: 5%;
    }
}


.image {
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
}