.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.menuWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: auto;
    align-items: center;
    width: 100%;
}

.menuItem{
    width: 30%;
    height: 320px;
    border: 1px solid grey;
    margin: 10px;
    flex-grow: 1;
    position: relative;

    .menuContent {
        position: relative;
    }

    .innerMenu {
        padding: 6px;
        border: 1px solid black;
        position: absolute;
       
    }
}



